.habilidades {
    width: 100%;
    height: 100vh;
}

.devicons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    list-style: none;
}

.devicons i {
    font-size: 5em;
    color: #be7abb;
    transition: transform 0.3s ease;
}

.devicons li {
    background: radial-gradient(circle at center, #4a0072, #0a001a);
    padding: 20px;
    border-radius: 0 15px 0 0;
    box-shadow: purple 0px 0px 10px;
    margin: 30px;
}

.devicon-item:hover i {
    transform: scale(1.2);
}

.devicon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.devicon-item i {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

.devicon-item span {
    font-size: 1.2rem;
    color: #fff;
}

@media (max-width: 768px) {

    .habilidades {
        height: auto; 
    }

    .devicons i {
        font-size: 3em;
    }
    .devicon-item i {
        font-size: 2rem;
    }
    .devicon-item span {
        font-size: 1rem;
    }

    #habilidadesCarousel .devicons {
        flex-direction: row;
        flex-wrap: nowrap;      
        justify-content: center;
        align-items: center;
    }

    #habilidadesCarousel .devicons li {
        margin: 10px;
    }
}
