.habilidades {
    width: 100%;
    min-height: 100vh;
    padding: 2rem 0;
    box-sizing: border-box; 
}

.devicons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    list-style: none;
}

.devicons i {
    font-size: 5em;
    color: #be7abb;
    transition: transform 0.3s ease;
}

.devicons li {
    background: radial-gradient(circle at center, #4a0072, #0a001a);
    padding: 20px;
    border-radius: 0 15px 0 0;
    box-shadow: 0px 0px 10px purple;
    margin: 30px;
}

.devicon-item:hover i {
    transform: scale(1.2);
}

.devicon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.devicon-item i {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

.devicon-item span {
    font-size: 1.2rem;
    color: #fff;
}

@media (max-width: 768px) {
    .habilidades {
        height: auto; 
    }

    .devicons i {
        font-size: 3em;
    }
    .devicon-item i {
        font-size: 2rem;
    }
    .devicon-item span {
        font-size: 1rem;
    }

    #habilidadesCarousel .devicons {
        flex-direction: row;
        flex-wrap: nowrap;      
        justify-content: center;
        align-items: center;
    }

    #habilidadesCarousel .devicons li {
        margin: 10px;
    }
}
.btn-primary {
    background-color: #be7abb;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: inline-block;
    margin: 5vh auto; /* Centraliza o botão horizontalmente */

}

.btn-primary:hover {
    background-color: #4a0072;
    color: #be7abb;
}

.btn-primary a {
    color: #fff;
    text-decoration: none;
}

.btn-primary a:hover {
    color: #be7abb;
    text-decoration: none;
}

.dashboard {
    width: 100%;
    max-width: 1200px;
    color: white;
    margin: 2rem auto;
    padding: 2rem;
    background: radial-gradient(circle at center, #4a0072, #0a001a);
    border-radius: 15px;
    box-shadow: 0 0 20px purple;
    text-align: center; /* Centraliza o conteúdo dentro do dashboard */
}

.dashboard-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.dashboard-item {
    flex: 1 1 calc(33.333% - 1rem);
    background: radial-gradient(circle at center, #4a0072, #0a001a);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px purple;
}

@media (max-width: 768px) {
    .dashboard-item {
        flex: 1 1 calc(50% - 1rem);
    }
}

@media (max-width: 480px) {
    .dashboard-item {
        flex: 1 1 100%;
    }
}