body {
    z-index: 2;
    position: relative;
    font-family: 'Anta', sans-serif;
}

.title {
    background: radial-gradient(circle at center, #0a001a, #4a0072);
    color: white;
    padding: 2vh 0 2vh 30vh;
    margin-right: 140vh;
    border-radius: 0 10px 10px 0;
    position: relative;
    z-index: 2;
    box-shadow: purple 0px 0px 10px;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, #4a0072, #1a0033, #0a001a);
    z-index: -2;
}
.anta-regular {
    font-family: "Anta", serif;
    font-weight: 400;
    font-style: normal;
}
.text {
    justify-content: center;
    background: radial-gradient(circle at center, #4a0072, #0a001a);
    margin: 10vh 20vh 0vh 20vh;
    padding: 2vh 2vh 2vh 2vh;
    border-radius: 10px;
    color: white;
    font-size: 1.5em;
    box-shadow: purple 0px 0px 10px;
    opacity: 0.8;
}

@media (max-width: 768px) {
    .title {
        padding: 2vh 0 2vh 5vh;
        margin-right: 0;
    }
    .text {
        margin: 5vh 2vh 0vh 2vh;
        font-size: 1em;
    }
}
section {
    margin-bottom: 2rem; /* Espaçamento entre seções */
}